
{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block head_title %}{% translate "Signup" %}{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/product-card.css' %}">
{% endblock %}

{% load humanize %}
{% block title %}Empresa: {{ object.username }}{% endblock %}

{% block content %}
<!--<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
-- Action buttons --
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    -- Your Stuff: Custom user template urls --
  </div>

</div>
-- End Action buttons --
{% endif %}

</div>-->
  <section style="">
    <div class="container py-3">
      <div class="row">
        <!--<div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>-->
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="card mb-4">
            <div class="card-body text-left">
              
              <div class="d-flex align-left mb-2">
                  <a  href="{% url 'sniper:project-create' %}" type="button" class="btn btn-light w-100 fw-bold align-center">
                    <img src="{% static 'images/dashboard/icons/wave.png' %}" style="width:30px; height:30px; margin-right: 3rem;" class="mr-2"/>
                    Proyectos
                  </a>
              </div>
              
            </div>
              <!--<div class="d-flex justify-content-left mb-2">
                  <button type="button" class="btn btn-light w-100 fw-bold p-3 text-left">
                    <img src="{% static 'images/dashboard/icons/wallet.png' %}" style="width:30px; height:30px; margin-right: 1rem;"/>
                    Conectar wallet
                  </button>
              </div>-->
              <div class="d-flex justify-content-left mb-2">
                  <a href="#" type="button" class="btn btn-light w-100 fw-bold p-3 text-left">-->
                    <img src="{% static 'images/dashboard/icons/usericon.png' %}" style="width:30px; height:30px; margin-right: 5rem;"/>
                    Perfil
                  </a>
              </div>
              <div class="d-flex justify-content-left mb-2">
                  <!--<a href="{% url 'sniper:my-billings' user.username %}" type="button" class="btn btn-light w-100 fw-bold p-3 text-left">-->
                    <img src="{% static 'images/dashboard/icons/billings.png' %}" style="width:30px; height:30px; margin-right: 2rem;" />
                    Facturaciones
                  <!--</a>-->
              </div>
              <div class="d-flex justify-content-left mb-2">
                  <!--<a href="{% url 'sniper:my-payments' user.username %}" class="btn btn-light w-100 fw-bold p-3 text-left">-->
                    <img src="{% static 'images/dashboard/icons/time-left.png' %}" style="width:30px; height:30px; "/>
                    Historial de pagos
                  <!--</a>-->
              </div>
              <div class="d-flex justify-content-left mb-2">
                  <!--<a href="{% url 'users:update' %}" type="button" class="btn btn-light w-100 fw-bold p-3 text-left">-->
                    <img src="{% static 'images/dashboard/icons/settings.png' %}" style="width:30px; height:30px; margin-right: 1rem;"/>
                    Configuraciones
                  <!--</a>-->
              </div>

            </div>
          </div>
          <div class="card mb-2 mb-lg-0">
            <div class="card-body p-2 align-middle mt-2">
              <div class="d-flex justify-content-left mb-2">
                  
                  <a href="{% url 'account_logout' %}" type="button" class="btn btn-light w-100 fw-bold p-3 text-left">
                    <img src="{% static 'images/dashboard/icons/log-out.png' %}" style="width:30px; height:30px; margin-right:10px;" class="p-1"/>
                    Cerrar sesión
                  </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          {% block container %}
          <div class="card mb-4">
            <div class="card-body" style="display:flex; flex-direction:row; flex-wrap:wrap;">
              {% for project in object.project.all %}
                 <a href="{% url 'sniper:project-detail' project.id %}" style="text-decoration:none; width:350px; height:450px;">

                    <div class="profile-card-6" style="height:400px;"><img src="{{ project.image.url }}" class="img img-responsive img-center" style="object-fit:cover;">
                        <div class="profile-name">{{ project.name }}
                            <br>$ {{ project.price }} {{ project.coin }}
                        </div>
                        <div class="profile-position">Bonos : {{ project.number_of_nfts }}</div>
                        <div class="profile-overview">
                            <div class="profile-overview">
                                  <div class="row text-center">
                                     
                                  </div>
                            </div>
                        </div>
                    </div>
                 </a>
              {% endfor %}
             
            </div>
          </div>
          {% endblock %}
        </div>
      </div>
    </div>
  </section>

{% endblock content %}
