{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block content %}

<section class="vh-70" style="width: 100%">
  <div class="container py-5 h-70">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h2 class="text-center text-success mb-5">Inicia sesión en Gaya Live</h2>

            <form class="login" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}
              <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
              </div>
              <div class="form-group">
                {{ form.password }}
              </div>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="form-group">
                <p>¿Has olvidado tu contraseña? Recupérala  <a href="#" style="text-decoration: none;" class="text-success"> aquí </a></p>
              </div>
              <button class="btn btn-success btn-block btn-lg mb-2" type="submit">{% translate "Sign In" %}</button>
              <hr class="hr">
              <div class="form-group">
                <p class="text-gray mb-2">¿Aún no tienes una cuenta?</p>
                <a href="{% url 'sniper:choose' %}" style="text-decoration : none;" class="text-success fw-bold">{% translate "Sign Up" %}</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
