{% extends "dashboard/developer.html" %}
{% load static %}
{% load humanize %}
{% block title %}Gaya Live{% endblock %}


{% block container %}
<div class="d-flex align-right mb-2">
  <a   href="{% url 'developer:project-create' %}" type="button" class="btn btn-success w-10 fw-light align-center">
    Crear proyecto
  </a>
  <h5 class="fw-light align-right text-center">Proyectos Asignados</h5>
</div>
<div style="overflow-x auto">
  <div class="card w-100" style="display: flex; flex-direction : row; justify-content: space-around; flex-wrap: wrap; height: fit-content;">
              <div class="card-body w-100 overflow-x" style="height: fit-content;">
                      <div class="row w-100">
                          <div class="col-sm-1 text-success fw-light">
                            Id
                          </div>
                          <div class="col-sm-2 text-success fw-light">
                            Proyecto
                          </div>
                         <div class="col-sm-2 text-success fw-light">
                            Categoría
                          </div>
                          <div class="col-sm-1 text-success fw-light">
                            Bonos
                          </div>
                         <div class="col-sm-2 text-success fw-light">
                            Empresa
                          </div>
                         <div class="col-sm-2 text-success fw-light">
                            Privado
                         </div>
                         <div class="col-sm-2 text-success fw-light">
                            Aprobado
                        </div>
                      </div>
                {% for project in object_list %}
                  
                      <a  href="{% url 'developers:project-update' project.id %}" class="text-decoration-none">
                        <div class="row w-100 p-2" style="height: 40px;">
                            <div class="col-sm-1">
                              {{ project.id|stringformat:"010d"|slice:"-12:"|rjust:"12" }}
                            </div>
                            <div class="col-sm-2">
                              <p class="text-muted mb-0">{{ project.name }}</p>
                            </div>
                            <div class="col-sm-2">
                              <p class="text-muted mb-0">{{ project.category }}</p>
                            </div>
                            <div class="col-sm-1">
                              <p class="text-muted mb-0">{{ project.supply }}</p>
                            </div>
                            <div class="col-sm-2">
                              <p class="text-muted mb-0"> {{ project.enterprise_id.username }} </p>
                            </div>
                            {% if project.private %}
                                <div class="col-sm-2">
                                  <p class=" mb-0 text-success fw-light">Sí</p>
                                </div>
                            {% else %}
                                <div class="col-sm-2">
                                  <p class="mb-0 text-danger fw-light">No</p>
                                </div>
                            {% endif %}
                            {% if project.approved %}
                                <div class="col-sm-2">
                                  <p class=" mb-0 text-success fw-light">Sí</p>
                                </div>
                            {% else %}
                                <div class="col-sm-2">
                                  <p class="mb-0 text-danger fw-light">No</p>
                                </div>
                            {% endif %}
                            
                            
                          </div>
                      </a>
                  
                {% endfor %}
              </div>

              {{ grouped_objects }}
            </div>
          </div>
{% endblock %}


