{% extends "users/dashboard.html" %}
{% load static %}
{% load humanize %}
{% block title %}User: {{ object.username }}{% endblock %}


{% block container %}
<div class="d-flex align-right mb-2">
    <a   href="{% url 'sniper:project-create' user.username %}" type="button" class="btn btn-light w-10 fw-bold align-center">
      Crear proyecto
    </a>
</div>
<div style="overflow-x auto">
  <div class="card" style="display: flex; flex-direction : row; justify-content: space-around; flex-wrap: wrap; height: fit-content;">
              <div class="card-body">
                      <div class="row">
                          <div class="col-sm-1 text-info fw-bold">
                            Id
                          </div>
                          <div class="col-sm-2 text-info fw-bold">
                            Proyecto
                          </div>
                         <div class="col-sm-2 text-info fw-bold">
                            Fecha
                          </div>
                          <div class="col-sm-1 text-info fw-bold">
                            Bonos
                          </div>
                         <div class="col-sm-1 text-info fw-bold">
                             Desarrollador
                          </div>
                         <div class="col-sm-2 text-info fw-bold">
                            Privado
                         </div>
                        <div class="col-sm-2 text-info fw-bold">
                            
                        </div>
                      </div>
                {% for project in object_list %}
                  
                      <div class="row" style="height: 40px;">
                        <div class="col-sm-1">
                          <p class="mb-0">{{ project.id }}</p>
                        </div>
                        <div class="col-sm-2">
                          <p class="text-muted mb-0">{{ project.name }}</p>
                        </div>
                        <div class="col-sm-2">
                          <p class="text-muted mb-0">{{ project.created }}</p>
                        </div>
                        <div class="col-sm-1">
                          <p class="text-muted mb-0">{{ project.supply }}</p>
                        </div>
                        <div class="col-sm-1">
                          <p class="text-muted mb-0">{{ project.developer.username }}</p>
                        </div>
                        {% if project.private %}
                            <div class="col-sm-1">
                              <p class=" mb-0 text-success fw-bold">Sí</p>
                            </div>
                        {% else %}
                            <div class="col-sm-1">
                              <p class="mb-0 text-danger fw-bold">No</p>
                            </div>
                        {% endif %}
                        <div class="col-sm-2">

                        </div>
                      </div>
                  
                {% endfor %}
              </div>

              {{ grouped_objects }}
            </div>
          </div>
{% endblock %}


